
	<!--TOPO COMUM - topo-comum.html -->
	<div class="sf-wrapper topo-comum">
		<nav class="Triad navbar_global">
			<div>
				<button class="btn btn-lg btn-secondary js-sidebar-action" id="jstoggle" type="button">
					<i class="fas fa-bars"></i><span class="u-hideLower title-n"> Menu</span>
				</button>
			</div>
			<div>
				<a class="navbar_global-brand" href="https://www.senado.leg.br" title="Senado Federal">
					<img src="https://www.senado.leg.br/noticias/essencial/images/senado.svg"
						alt="Senado Federal" /></a>
			</div>
			<div>
				<div class="Rail Rail--fenced u-hideLower">
					<a class="js-vlibras" role="button" title="acessibilidade"> <img
						src="https://www.senado.leg.br/noticias/essencial/images/hands.svg"
						width="25px" /></a><a class="link link-deep"
						href="https://www12.senado.leg.br/institucional/responsabilidade-social/acessibilidade/pages/acessibilidade-no-portal-do-senado">Acessibilidade</a><a
						class="link link-deep"
						href="http://www12.senado.gov.br/institucional/falecomosenado">Fale
						com o Senado</a>
				</div>
				<a class="btn btn-lg btn-secondary u-hideUpper"
					href="http://www12.senado.gov.br/institucional/falecomosenado"><i
					class="fas fa-phone"></i></a>
			</div>
		</nav>
	</div>



	<!--TOPO PORTAL-->
	<!-- <div class="container">
				<div class="row" style="line-height: 43px">
					<div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;">
						<a href="http://www.senado.leg.br/senado/falecomosenado/" class="hidden-xs" style="color: #FFF; font-size: 12px; margin-left: 6em;">
							Fale com o Senado</a>
						<div class="pull-left">
							<a href="http://www.senado.leg.br/" title="Volta para a página inicial." class="logo">
								<img src="images/senado.svg" width="170" height="23" style="vertical-align: middle;"></a>
						</div>
						<div class="pull-right">
							<div id="menu-comando" class="dropdown-toggle" data-toggle="dropdown" data-delay="500"
								data-close-others="true" style="margin-bottom: 1em;">
								<span class="glyphicon glyphicon-menu-hamburger" style="font-size: 12px"></span>
								Portais
							</div>
							<ul id="menu-portais" class="dropdown-menu pull-right" role="navigation">
								<li><a href="http://www12.senado.leg.br/institucional">Institucional</a></li>
								<li><a href="http://www25.senado.leg.br/web/senadores/">Senadores</a></li>
								<li><a href="http://www25.senado.leg.br/web/atividade/">Atividade Legislativa</a></li>
								<li><a href="http://www12.senado.leg.br/noticias/">Notícias</a></li>
								<li><a href="http://www12.senado.leg.br/publicacoes/">Publicação e Documentação</a></li>
								<li><a href="http://www12.senado.leg.br/orcamento/">Orçamento</a></li>
								<li><a href="http://www12.senado.leg.br/transparencia/">Transparência</a></li>
								<li><a href="http://www12.senado.leg.br/ecidadania/">e-Cidadania</a></li>
							</ul>
						</div>
					</div>            
				</div>
			</div> -->



	<!-- IDENTIFICAÇÃO DO SITE -->
	<!-- <div class="container"> 
			<div class="row hidden-xs identificacao-site">
				<div class="col-xs-8">
					<div class="blue">
						<h1 class="blue-portal" style="font-size: 40px; font-weight: 400;">
							<a href="https://www25.senado.leg.br/web/atividade/home">
								Atividade Legislativa
							</a>												
						</h1>
					</div>    
				</div>

				<div class="col-xs-4 pull-right busca-principal">
					WIDGET DE BUSCA NÃO IMPLEMENTADO PARA O PORTAL
				</div>
			</div>
		</div> -->

	<!-- MENU PRINCIPAL -->
	<div id="menu-principal-portal" class="container"
		style="display: none;">
		<div class="row">
			<div class="col-xs12 col-sm-12 col-lg-12">

				<!-- *********************************************** -->
				<!-- ***** MENU PRINCIPAL - BARRA DE NAVEGAÇÃO ***** -->
				<!-- *********************************************** -->
				<nav class="navbar navbar-default">
					<div class="container-fluid" style="padding: 0;">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar-portal-comissoes">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<div class="hidden-sm hidden-md hidden-lg">
								<a class="navbar-brand" href="#">Menu</a>
							</div>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="navbar-portal-comissoes">
							<ul class="nav navbar-nav">

								<!--   Plenário   -->
								<li class="dropdown"><a
									href="https://www25.senado.leg.br/web/atividade/plenario"
									class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-expanded="false">Plen&aacute;rio <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a
											href="http://www25.senado.leg.br/web/atividade/sessao-plenaria">Sess&atilde;o
												Plen&aacute;ria </a></li>
										<li><a
											href="http://www.senado.gov.br/atividade/plenario/ordemdodia">Ordem
												do dia</a></li>
										<li><a
											href="http://www25.senado.leg.br/web/atividade/pronunciamentos">Pronunciamentos</a></li>
										<li><a
											href="http://www25.senado.leg.br/web/atividade/questoes-de-ordem">Quest&otilde;es
												de Ordem</a></li>
										<li><a
											href="http://www25.senado.leg.br/web/atividade/votacoes-nominais">Vota&ccedil;&otilde;es
												Nominais</a></li>
									</ul></li>

								<!--    Projetos e Matérias     -->
								<li class="dropdown"><a
									href="https://www25.senado.leg.br/web/atividade/materias/home"
									class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-expanded="false">Projetos e Mat&eacute;rias<span
										class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a
											href="http://www25.senado.leg.br/web/atividade/materias">Pesquisas</a></li>
										<li><a
											href="http://www25.senado.leg.br/web/atividade/materias/acompanhamento/minhas-materias">Acompanhamento
												de mat&eacute;rias </a></li>
									</ul></li>

								<!--    Comissões     -->
								<li class="dropdown hidden-xs hidden-sm hidden-md"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false">Comiss&otilde;es <span
										class="caret"></span></a> 
								<li class="dropdown hidden-lg"><a
									wicket:id="lnkMenuComissoes">Comiss&otilde;es</a></li>

								<!--     Relatórios Legislativos     -->
								<li class="dropdown"><a
									href="https://www25.senado.leg.br/web/atividade/relatorios-legislativos"
									class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-expanded="false">Relat&oacute;rios Legislativos <span
										class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a
											href="http://www25.senado.leg.br/web/atividade/estatisticas">Estat&iacute;sticas</a></li>
										<li><a
											href="http://www25.senado.leg.br/web/atividade/resenhas">Resenhas</a></li>
										<li><a
											href="http://www25.senado.leg.br/web/atividade/relatorio-da-presidencia">Relat&oacute;rios
												da Presid&ecirc;ncia</a></li>

									</ul></li>

								<!--     Legislação     -->
								<li><a
									href="http://www25.senado.leg.br/web/atividade/legislacao">Legislação</a></li>

								<!--    Órgãos do Parlamento     -->
								<li><a
									href="http://www25.senado.leg.br/web/atividade/conselhos">&Oacute;rg&atilde;os
										do Parlamento</a></li>

								<!--    Autoridades     -->
								<li><a
									href="http://www25.senado.leg.br/web/atividade/autoridades">Autoridades</a>
								</li>

							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>

				<nav class="Nav--secundaria hidden-xs">
					<ul class="nav navbar-nav pull-right">
						<li><a href="http://www12.senado.leg.br/multimidia">Portal
								Multimídia</a></li>
						<li><a href="http://legis.senado.leg.br/diarios/Diario">Diários
								e Anais</a></li>
						<!-- <li><a href="http://www25.senado.leg.br/web/atividade/rss">RSS</a></li> -->
						<li><a href="http://dadosabertos.senado.leg.br/">Dados
								Abertos</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<p>&nbsp;&nbsp;&nbsp;</p>


	<footer id="sf-rodape" class="m30-top">

		<!-- <div wicket:id="includeFooterEssencial"></div> -->
		<!-- RODAPE COMUM- rodape-comum.html -->
		<div class="sf-wrapper">
			<footer class="Footer">
				<div class="container">
					<div class="Triad Triad--stackable">
						<div class="Rail gamma my-2">
							<a class="link link-deep--facebook"
								href="https://www.facebook.com/SenadoFederal" title="Facebook"
								target="_blank"><i class="fab fa-facebook"></i></a><a
								class="link link-deep--twitter"
								href="https://twitter.com/senadofederal" title="Twitter"
								target="_blank"><i class="fab fa-twitter"></i></a><a
								class="link link-deep--instagram"
								href="https://www.instagram.com/senadofederal" title="Instagram"
								target="_blank"><i class="fab fa-instagram"></i></a><a
								class="link link-deep--youtube"
								href="https://www.youtube.com/user/TVSenadoOficial"
								title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
						</div>
						<div class="Rail my-2">
							<a href="https://www.camara.leg.br" title="Câmara dos Deputados"
								target="_blank"><img
								src="https://www.senado.leg.br/noticias/essencial/images/icon-camara.svg"
								alt="Câmara dos Deputados" /></a><a
								href="https://www.congressonacional.leg.br"
								title="Congresso Nacional" target="_blank"><img
								src="https://www.senado.leg.br/noticias/essencial/images/icon-congresso.svg"
								alt="Congresso Nacional" /></a><a href="https://www.tcu.gov.br"
								title="Tribunal de Contas da União" target="_blank"><img
								src="https://www.senado.leg.br/noticias/essencial/images/icon-tcu.svg"
								alt="Tribunal de Contas da União" /></a>
						</div>
						<div class="Rail Rail--fenced my-2">
							<a class="link link-deep"
								href="https://www12.senado.leg.br/institucional/carta-de-servicos/en/carta-de-servicos">ENGLISH</a><a
								class="link link-deep"
								href="https://www12.senado.leg.br/institucional/carta-de-servicos/es/carta-de-servicos">ESPAÑOL</a><a
								class="link link-deep"
								href="https://www12.senado.leg.br/institucional/carta-de-servicos/fr/carta-de-servicos">FRANÇAIS</a>
						</div>
					</div>
					<div class="divider my-2"></div>
					<div class="Triad Triad--stackable">
						<div class="my-2">
							<a class="link link-deep" href="https://intranet.senado.leg.br"
								title="Intranet"><i class="fas fa-lock mr-1"></i> Intranet</a>
						</div>
						<div class="Rail Rail--fenced Rail--stackable my-2">
							<a class="link link-deep"
								href="https://www12.senado.leg.br/institucional/pessoas/pessoas">Servidor
								efetivo</a><a class="link link-deep"
								href="https://www12.senado.leg.br/institucional/pessoas/pessoas">Servidor
								comissionado</a><a class="link link-deep"
								href="https://www12.senado.leg.br/institucional/pessoas/pessoas">Servidor
								aposentado</a><a class="link link-deep"
								href="https://www12.senado.leg.br/institucional/pessoas/pessoas">Pensionista</a>
						</div>
						<div class="my-2">
							<a class="link link-deep"
								href="https://www12.senado.leg.br/institucional/falecomosenado"
								title="fale com o Senado"><i
								class="fas fa-phone u-flip-x mr-1"></i> Fale com o Senado</a>
						</div>
					</div>
					<div class="divider my-2"></div>
					<div class="d-flex justify-content-xl-center">
						<span class="my-2">Senado Federal - Praça dos Três Poderes
							- Brasília DF - CEP 70165-900 | <span class="text-nowrap">Telefone:
								0800 0 61 2211</span>
						</span>
					</div>
				</div>
			</footer>
		</div>

	</footer>

	<script src="js/essencial.js"></script>

